<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/product_New.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Products</title>
</head>
<body>
  <div class="rectangle-2-1"></div>
    <div class="container">
        <!-- <div class="rectangle-2-1"></div> -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <img class="logo-1" src="../static/img/logo-1@2x.png" alt="logo 1">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/index.html">HOME</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link ml-3" href="../templates/products_New.html" style="color:black;">PRODUCTS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link ml-3" href="../templates/About_bootstrap.html" style="color:black;">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link ml-3" href="../templates/support_bootstrap.html" style="color:black;">SUPPORT</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled ml-3" href="../templates/ContactUs_bootstrap.html" style="color:black;">CONTACT US</a>
                    </li>
                  </ul>
                  
              <form class="form-inline my-2 my-lg-0">
                
                <input class="form-control mr-sm-2" type="search" placeholder="Enter Search Keyword" aria-label="Search">
                <img class="icon-search" src="../static/img/material-symbols-search-rounded.svg" alt="icon-search">
                <img class="cart" src="../static/img/vector.svg" alt="alt">
                <!-- <img class="notification" src="img/0-circle-fill.svg" alt="alt_1"> -->
                <button class="btn btn-pink my-2 my-sm-0" type="btn" style="background-color: #cf018a; color: rgb(255, 255, 255);" >Login</button>
              </form>
            </div>
          </nav>
    </div>

        <div class="img-fluid">
            <img
              class="img-fluid"
              src="../static/img/hrn-cebqfsazqjtbyr7ipqo1-6dnhjo5-1 (2).png"
              alt="HrN-cEbqfsAZQjTByR7Ipqo1-6dnHjO5 1" style="width:100%; max-width: 100%;"/>
        </div>

        <div class="heading_1"> 
            <h6><a class="broadband" href="">Broadband</a></h6>
            <h6><a class="smart-home" href="">Smart Home</a></h6>
        </div>

        <div class="text-center">
            <h3>CAT 16</h3>
        </div>

        <div class="container d-flex p-3 bg-none text-white form-inline justify-content-start">
        <div class="card" style="width: 17rem; background-color:#f3f3f3; border-radius:19px; border:none; height:25rem; margin-top:50px; margin-left:50px">
            <img class="card-img-top img-fluid" src="../static/img/2g--gy3enywvopgxuv54mht8ozfnepnm-1@2x.png" alt="Card image cap" style="height: 15rem; width: 15rem; margin-left:25px; margin-top: 10px;">
            <div class="card-body">
              <h6 class="card-title text-dark" style="margin-left:20px;">FX -OD5 Outdoor CPE</h6>
              <!-- <p class="card-text" style="color: #cf018a; margin-top:50px;">LEARN MORE</p> -->
              <a href="#" class="btn" style="background-color: #cf018a; color:white; margin-left:130px; margin-top:30px;">BUY NOW</a>
              <p class="card-text" style="color: #cf018a; margin-top:-30px; text-decoration: underline;">LEARN MORE</p>
            </div>
          </div>
          <div class="card" style="width: 17rem;  background-color:#f3f3f3; border-radius:19px; border:none; height:25rem; margin-top:50px; margin-left:50px">
            <img class="card-img-top img-fluid" src="../static/img/v8dcjopun46temy29g6ii-8b4mmxxnov-2@2x.png" alt="Card image cap" style="height: 15rem; width: 15rem; margin-left:25px; margin-top: 10px;">
            <div class="card-body">
              <h6 class="card-title text-dark" style="margin-left:100px;">FX-ID7</h6>
              <!-- <p class="card-text"></p> -->
              <a href="#" class="btn" style="background-color: #cf018a; color:white; margin-left:130px; margin-top:30px;">BUY NOW</a>
              <p class="card-text" style="color: #cf018a; margin-top:-30px; text-decoration: underline;">LEARN MORE</p>
            </div>
          </div>
          <div class="card" style="width: 17rem;  background-color:#f3f3f3; border-radius:19px; border:none; height:25rem; margin-top:50px; margin-left:50px">
            <img class="card-img-top img-fluid" src="../static/img/zrgrjklnoan9xetmvwqe7qzmahxtdzd1-1@2x.png" alt="Card image cap" style="height: 15rem; width: 15rem; margin-left:25px; margin-top: 10px;">
            <div class="card-body">
              <h6 class="card-title text-dark" style="margin-left:100px;">FX-PR5</h6>
              <p class="card-text"></p>
              <a href="#" class="btn" style="background-color: #cf018a; color:white; margin-left:130px; margin-top:30px;">BUY NOW</a>
              <p class="card-text" style="color: #cf018a; margin-top:-30px; text-decoration: underline;">LEARN MORE</p>
            </div>
          </div>
        </div> 

        <div class="text-center">
          <h3>CAT 12</h3>
      </div>


      <div class="container d-flex p-3 bg-none text-white form-inline justify-content-start">
          <div class="card" style="width: 17rem;  background-color:#f3f3f3; border-radius:19px; border:none; height:25rem; margin-top:50px">
            <img class="card-img-top img-fluid" src="../static/img/d-53u-wb6ehekhqf2wx-tctqbp4vewva-1@2x.png" alt="Card image cap" style="height: 15rem; width: 15rem; margin-left:25px; margin-top: 10px;">
            <div class="card-body">
              <h6 class="card-title text-dark" style="margin-left:20px;">FX-OD3 Outdoor CPE</h6>
              <!-- <p class="card-text"></p> -->
              <a href="#" class="btn" style="background-color: #cf018a; color:white; margin-left:130px; margin-top:30px;">BUY NOW</a>
              <p class="card-text" style="color: #cf018a; margin-top:-30px; text-decoration: underline;">LEARN MORE</p>
            </div>
          </div>
          <div class="card" style="width: 17rem;  background-color:#f3f3f3; border-radius:19px; border:none; height:25rem; margin-top:50px; margin-left: 50px;">
            <img class="card-img-top img-fluid" src="../static/img/g0ud5bcpnslf3o13k-ybhoecdv7hydtt-1@2x.png" alt="Card image cap" style="height: 15rem; width: 15rem; margin-left:15px; margin-top: 10px;">
            <div class="card-body">
              <h6 class="card-title text-dark" style="margin-left:40px; margin-top:-15px">FX-ID6 Indoor CPE</h6>
              <p class="card-text"></p>
              <a href="#" class="btn" style="background-color: #cf018a; color:white; margin-left:130px; margin-top:30px;">BUY NOW</a>
              <p class="card-text" style="color: #cf018a; margin-top:-30px; text-decoration: underline;">LEARN MORE</p>
            </div>
          </div>
        </div> 

        <div class="text-center">
          <h3>CAT 6</h3>
      </div>


      <div class="container d-flex p-3 bg-none text-white form-inline justify-content-start">
        <div class="card" style="width: 17rem; background-color:#f3f3f3; border-radius:19px; border:none; height:25rem; margin-top:50px">
            <img class="card-img-top img-fluid" src="../static/img/rhyo61hcbm-m1yjs-lytvd0fvyehhakj-1@2x.png" alt="Card image cap" style="height: 15rem; width: 15rem; margin-left:25px; margin-top: 10px;">
            <div class="card-body">
              <h6 class="card-title text-dark" style="margin-left:40px;">FX-ID5 Indoor CPE</h6>
              <!-- <p class="card-text" style="color: #cf018a; margin-top:50px;">LEARN MORE</p> -->
              <a href="#" class="btn" style="background-color: #cf018a; color:white; margin-left:130px; margin-top:30px;">BUY NOW</a>
              <p class="card-text" style="color: #cf018a; margin-top:-30px; text-decoration: underline;">LEARN MORE</p>
            </div>
          </div>
          <div class="card" style="width: 17rem;  background-color:#f3f3f3; border-radius:19px; border:none; height:25rem; margin-top:50px; margin-left:50px">
            <img class="card-img-top img-fluid" src="../static/img/sowdzr-ywilovg6abwxm9wzq4rtognf2-1@2x.png" alt="Card image cap" style="height: 15rem; width: 15rem; margin-left:25px; margin-top: 10px;">
            <div class="card-body">
              <h6 class="card-title text-dark" style="margin-left:50px; margin-top:-10px;">FX-ID4s Mesh Unit (Satellite)</h6>
              <!-- <p class="card-text"></p> -->
              <a href="#" class="btn" style="background-color: #cf018a; color:white; margin-left:130px; margin-top:30px;">BUY NOW</a>
              <p class="card-text" style="color: #cf018a; margin-top:-30px; text-decoration: underline;">LEARN MORE</p>
            </div>
          </div>
          <div class="card" style="width: 17rem;  background-color:#f3f3f3; border-radius:19px; border:none; height:25rem; margin-top:50px; margin-left:50px">
            <img class="card-img-top img-fluid" src="../static/img/3a-9igz8phaqozhy8dc26poesuqjdwrr-1@2x.png" alt="Card image cap" style="height: 15rem; width: 15rem; margin-left:25px; margin-top: 10px;">
            <div class="card-body">
              <h6 class="card-title text-dark" style="margin-left:50px; margin-top:-10px;">FX-ID4 Indoor CPE (Primary)</h6>
              <p class="card-text"></p>
              <a href="#" class="btn" style="background-color: #cf018a; color:white; margin-left:130px; margin-top:30px;">BUY NOW</a>
              <p class="card-text" style="color: #cf018a; margin-top:-30px; text-decoration: underline;">LEARN MORE</p>
            </div>
          </div>
          <div class="card" style="width: 17rem; background-color:#f3f3f3; border-radius:19px; border:none; height:25rem; margin-top:50px; margin-left:50px">
            <img class="card-img-top img-fluid" src="../static/img/gltrwp9uyoouo3vijvtcoyvrf4ik1b1k-1@2x.png" alt="Card image cap" style="height: 15rem; width: 15rem; margin-left:25px; margin-top: 10px;">
            <div class="card-body">
              <h6 class="card-title text-dark" style="margin-left:40px;">FX-PR4 Pocket Wifi</h6>
              <!-- <p class="card-text" style="color: #cf018a; margin-top:50px;">LEARN MORE</p> -->
              <a href="#" class="btn" style="background-color: #cf018a; color:white; margin-left:130px; margin-top:30px;">BUY NOW</a>
              <p class="card-text" style="color: #cf018a; margin-top:-30px; text-decoration: underline;">LEARN MORE</p>
            </div>
          </div>
        </div> 

        <div class="text-center">
          <h3>CAT 4</h3>
      </div>

      <div class="container d-flex p-3 bg-none text-white form-inline justify-content-start">
        <div class="card" style="width: 17rem; background-color:#f3f3f3; border-radius:19px; border:none; height:25rem; margin-top:50px; margin-left:50px">
            <img class="card-img-top img-fluid" src="../static/img/5kinxh2suh6es9hes-lg56cb4fuvlvrr-1@2x.png" alt="Card image cap" style="height: 15rem; width: 15rem; margin-left:25px; margin-top: 10px;">
            <div class="card-body">
              <h6 class="card-title text-dark" style="margin-left:20px;">FX -OD2 Outdoor CPE</h6>
              <!-- <p class="card-text" style="color: #cf018a; margin-top:50px;">LEARN MORE</p> -->
              <a href="#" class="btn" style="background-color: #cf018a; color:white; margin-left:130px; margin-top:30px;">BUY NOW</a>
              <p class="card-text" style="color: #cf018a; margin-top:-30px; text-decoration: underline;">LEARN MORE</p>
            </div>
          </div>
          <div class="card" style="width: 17rem;  background-color:#f3f3f3; border-radius:19px; border:none; height:25rem; margin-top:50px; margin-left:50px">
            <img class="card-img-top img-fluid" src="../static/img/c4hkamik4641ld9ttdx4dt855rl4jteh-1@2x.png" alt="Card image cap" style="height: 15rem; width: 15rem; margin-left:25px; margin-top: 10px;">
            <div class="card-body">
              <h6 class="card-title text-dark" style="margin-left:100px;">FX -ID3</h6>
              <!-- <p class="card-text"></p> -->
              <a href="#" class="btn" style="background-color: #cf018a; color:white; margin-left:130px; margin-top:30px;">BUY NOW</a>
              <p class="card-text" style="color: #cf018a; margin-top:-30px; text-decoration: underline;">LEARN MORE</p>
            </div>
          </div>
          <div class="card" style="width: 17rem;  background-color:#f3f3f3; border-radius:19px; border:none; height:25rem; margin-top:50px; margin-left:50px">
            <img class="card-img-top img-fluid" src="../static/img/0-f7tmwvqc7tx-ku4puusja5svyxweo--1@2x.png" alt="Card image cap" style="height: 15rem; width: 15rem; margin-left:25px; margin-top: 10px;">
            <div class="card-body">
              <h6 class="card-title text-dark" style="margin-left:50px;">FX -PR3F Pocket Wifi</h6>
              <p class="card-text"></p>
              <a href="#" class="btn" style="background-color: #cf018a; color:white; margin-left:130px; margin-top:30px;">BUY NOW</a>
              <p class="card-text" style="color: #cf018a; margin-top:-30px; text-decoration: underline;">LEARN MORE</p>
            </div>
          </div>
        </div> 

        <div class="text-center">
          <h3>Others</h3>
      </div>

      <div class="container d-flex p-3 bg-none text-white form-inline justify-content-start">
        <div class="card" style="width: 17rem; background-color:#f3f3f3; border-radius:19px; border:none; height:25rem; margin-top:50px; margin-left:50px">
            <img class="card-img-top img-fluid" src="../static/img/cywft9cnxwglodbveuha6uutigsba0fs-1@2x.png" alt="Card image cap" style="height: 15rem; width: 15rem; margin-left:25px; margin-top: 10px;">
            <div class="card-body">
              <h6 class="card-title text-dark" style="margin-left:80px;">FX - SPI16A</h6>
              <!-- <p class="card-text" style="color: #cf018a; margin-top:50px;">LEARN MORE</p> -->
              <a href="#" class="btn" style="background-color: #cf018a; color:white; margin-left:130px; margin-top:30px;">BUY NOW</a>
              <p class="card-text" style="color: #cf018a; margin-top:-30px; text-decoration: underline;">LEARN MORE</p>
            </div>
          </div>
      </div>


      <div class="container">
        <div class="row" style="margin-top: 100px;">
          <div class="col">
            <img class="logo-2" src="../static/img/logo-2@2x.png" alt="logo 2">
          </div>
          <div class="col">
            <h5 class="evoluzn">Evoluzn</h5>
            <li>About Us</li>
            <li>Media Center</li>
            <li>Careers</li>
            <li>Blog</li>
            <li>Privacy Ana Policy</li>
            <li>Contact Us</li>
          </div>
          <div class="col">
            <h5 class="evoluzn">Products</h5>
            <li>Broadband</li>
            <li>Smart Home</li>
            <h5>Follow</h5>
          </div>
          <div class="col">
            <h5>Support</h5>
            <li>customer support</li>
            <li>frequently Asked Questions</li>
          </div>
        </div>
      </div>

        <div class="card-footer">
          <p class="row justify-content-md-center">
            <span >© Evoluzn Inc. 2021 | </span>
            <a href="https://www.evoluzn.in/information/terms-and-conditions" target="_blank">
            <span>Terms and Conditions</span></a>
        </p>
      </div>
</body>
</html>